<div class="top-fix "></div>
<div class="container reset-form">
  <form id="form" name="form" class="form"  novalidate>
    <div class="form-group" ng-class="{'has-danger':form.password.$invalid && !form.password.$pristine}">
      <label class="form-control-label" for="password">Password</label>
      <input type="password" class="form-control" id="password" name="password" ng-model="$ctrl.data.password" required/>
      <div class="form-control-feedback" ng-messages="form.password.$error" ng-if="form.password.$invalid && !form.password.$pristine">
        <p ng-message="required">password es requerido</p>
      </div>
    </div>
    <div class="form-group" ng-class="{'has-danger':form.newpassword.$invalid && !form.newpassword.$pristine}">
      <label class="form-control-label" for="password">Nuevo password</label>
      <input type="password" class="form-control" id="newpassword" name="newpassword" ng-model="$ctrl.data.newpassword" required/>
      <div class="form-control-feedback" ng-messages="form.newpassword.$error" ng-if="form.newpassword.$invalid && !form.newpassword.$pristine">
        <p ng-message="required">nuevo password es requerido</p>
      </div>
    </div>
    <div class="form-group" ng-class="{'has-danger':form.confirmpassword.$invalid && !form.confirmpassword.$pristine}">
      <label class="form-control-label" for="confirmpassword">Confirmacion Password</label>
      <input type="password" class="form-control" id="confirmpassword" name="confirmpassword" ng-model="$ctrl.data.confirmpassword" required/>
      <div class="form-control-feedback" ng-messages="form.confirmpassword.$error" ng-if="form.confirmpassword.$invalid && !form.confirmpassword.$pristine">
        <p ng-message="required">confirmacion del password es requerido</p>
      </div>
    </div>
    <div>{{$ctrl.messageerror}}</div>
    <div class="form-group">
      <button  ng-click="$ctrl.reset()" class="btn btn-default" ng-disabled="form.$invalid || form.$pending">Entrar</button>
    </div>
  </form>
</div>
