<div class="modal-header">
    <h3 class="modal-title">{{$ctrl._title}}</h3>
</div>
<form name="stForm" id="stForm" novalidate>
  <div class="modal-body">
    <div class="row">
      <div class="form-group col-md-6" ng-class="{ 'has-error': stForm.slNumber.$dirty && stForm.slNumber.$invalid }">
        <label for="slNumber">Numero de bodega *</label>
        <input type="text" class="form-control" id="slNumber" name="slNumber" placeholder="Numero de bodega" ng-model="$ctrl._data.number" maxlength="45" required autofocus>
        <span class="span-validation" ng-show="stForm.slNumber.$dirty && stForm.slNumber.$invalid">
          <span ng-show="stForm.slNumber.$error.required">El nombre es requerido.</span>
        </span>
      </div>
    </div>
    <div class="row">
      <div class="form-group col-md-6">
        <label for="slStoragelokertype">Tipo de bodega *</label>
        <ui-select id="slStoragelokertype" name="slStoragelokertype" ng-model="$ctrl._selectSlt" title="Tipo de bodega" ng-required="true">
          <ui-select-match placeholder="- Selecciona -">{{$ctrl._selectSlt.name}}</ui-select-match>
          <ui-select-choices repeat="item in $ctrl._storagelokertypes | filter: $select.search">
            <span ng-bind-html="item.name | highlight: $select.search"></span>
          </ui-select-choices>
        </ui-select>
        <span class="span-validation" ng-show="stForm.slStoragelokertype.$dirty && stForm.slStoragelokertype.$invalid">
          <span ng-show="stForm.slStoragelokertype.$error.required">El nombre es requerido.</span>
        </span>
      </div>
    </div>
  </div>
  <div class="modal-footer">
    <button class="btn btn-primary" type="button" ng-click="$ctrl.validate() && stForm.$valid && $ctrl.save()">Guardar</button>
    <button class="btn btn-default" type="button" ng-click="$ctrl.cancel()">Cancelar</button>
  </div>
</form>
