<div id="top" class="top-fix"></div>
<div class="fixed-sidebar">
  <gt-asidemenu active="storagelokertype"></gt-asidemenu>
  <div class="wrapper">
    <div class="form-group filters">
      <div class="col-md-8">
        <button class="btn btn-default" ng-click="$ctrl.openDialog()">Nueva bodega</button>
      </div>
      <div class="col-md-4">
        <div class="input-group">
          <span class="input-group-addon"><span class="glyphicon glyphicon-search"></span></span>
          <input class="form-control"  placeholder="buscar" ng-model="search">
        </div>
      </div>
    </div>
    <ul>
      <li ng-if="$ctrl.storageloker.length === 0">
        <h4>No existen tipos de bodegas</h4>
      </li>
      <li ng-repeat="sl in $ctrl.storageloker track by sl.storagelokerId">
        <div class="well row">
          <div class="col-md-1">
          </div>
          <div class="col-md-6">
            <h3>{{sl.number}}</h3>
            <p>{{sl.typename}}</p>
          </div>
          <div class="col-md-3">
          </div>
          <div class="col-md-1 buttons" ng-click="$ctrl.openDialog(sl.storagelokerId)">
            <span class="glyphicon glyphicon-pencil" ></span>
            <span class="glyphicon-label">Cambiar</span>
          </div>
          <div class="col-md-1 buttons">
            <a ng-confirm-message="¿Estás seguro de querer eliminar la bodega {{sl.number}}?" ng-confirm="$ctrl.remove(sl.storagelokerId, sl.number)">
              <span class="glyphicon glyphicon-trash" ></span>
              <span class="glyphicon-label">Borrar</span>
            </a>
          </div>
        </div>
      </li>
    </ul>
  </div>
</div>
