<div class="modal-header">
  <h3 class="modal-title">Realizar pago</h3>
</div>
<form name="pForm" id="pForm" novalidate>
  <div class="modal-body">
    <div class="row">
      <div class="form-group col-md-3" ng-class="{ 'has-error': pForm.pClient.$dirty && pForm.pClient.$invalid }">
        <label for="pClient">Cliente *</label>
        <ui-select ng-disabled="$ctrl._data.payments.length > 0 || $ctrl._rentSelectedDisabled" id="pClient" name="pClient" ng-model="$ctrl._data.client" title="Cliente" on-select="$ctrl.onClientSelect($ctrl._data.client.clientId)" ng-required="true">
          <ui-select-match placeholder="- Selecciona -">{{$ctrl._data.client.name}}</ui-select-match>
          <ui-select-choices repeat="item in $ctrl._clients">
            <span ng-bind-html="item.name"></span>
          </ui-select-choices>
        </ui-select>
      </div>
      <div class="form-group col-md-3" ng-class="{ 'has-error': pForm.pRent.$dirty && pForm.pRent.$invalid }">
        <label for="pRent">Renta a pagar *</label>
        <ui-select ng-disabled="$ctrl._rentSelectedDisabled" id="pRent" name="pRent" ng-model="$ctrl._payment.rent" title="Renta a pagar" on-select="$ctrl.onRentSelect($ctrl._payment.rent.rentId)">
          <ui-select-match placeholder="- Selecciona -">{{$ctrl._payment.rent.number}}</ui-select-match>
          <ui-select-choices repeat="item in $ctrl._rents">
            <span ng-bind-html="item.number"></span>
          </ui-select-choices>
        </ui-select>
      </div>
      <div class="form-group col-md-3" ng-class="{ 'has-error': pForm.pMonth.$dirty && pForm.pMonth.$invalid }">
        <label for="pMonth">Mes a pagar *</label>
        <ui-select id="pMonth" name="pMonth" ng-model="$ctrl._payment.date" title="Renta a pagar">
          <ui-select-match placeholder="- Selecciona -">{{$ctrl._payment.date.description}}</ui-select-match>
          <ui-select-choices repeat="item in $ctrl._dates | filter: {valid: 1}">
            <span ng-bind-html="item.description"></span>
          </ui-select-choices>
        </ui-select>
      </div>
      <div class="form-group col-md-3" ng-class="{ 'has-error': pForm.pPromotion.$dirty && pForm.pPromotion.$invalid }">
        <label for="pPromotion">Promociones disponibles</label>
        <ui-select id="pPromotion" name="pPromotion" ng-model="$ctrl._payment.promotion" title="Renta a pagar">
          <ui-select-match placeholder="- Selecciona -">{{$ctrl._payment.promotion.name}}</ui-select-match>
          <ui-select-choices repeat="item in $ctrl._promotions">
            <span ng-bind-html="item.name"></span>
          </ui-select-choices>
        </ui-select>
      </div>
    </div>
    <div class="row">
      <div class="form-group col-md-10 payment-list" ng-if="$ctrl._data.payments.length == 0">
        <span>Agrega pagos a la lista</span>
      </div>
      <div class="form-group col-md-10" ng-if="$ctrl._data.payments.length > 0">
        <table class="table table-sm">
          <thead>
            <tr>
              <th>#</th>
              <th>Bodega</th>
              <th>Promocion</th>
              <th>Mes</th>
              <th>Cantidad</th>
            </tr>
          </thead>
          <tfoot>
            <tr>
              <td colspan="3"></td>
              <td><b>Total:</b></td>
              <td><b>{{$ctrl._data.payments | paymentTotal: 'total' | currency:'$':2}}</b></td>
            </tr>
          </tfoot>
          <tbody>
            <tr ng-repeat="pay in $ctrl._data.payments">
              <th scope="row">{{$index + 1}}</th>
              <td>{{pay.rent.number}}</td>
              <td>{{pay.promotion.name}}</td>
              <td>{{pay.date.description}}</td>
              <td>{{pay.rent.total | currency:'$':2}}</td>
            </tr>
          </tbody>
        </table>
      </div>
      <div class="form-group col-md-2">
        <button class="btn btn-warning" type="button" ng-click="$ctrl.addPayment()">Agregar pago</button>
      </div>
    </div>
    <div class="row">
      <div class="form-group col-md-3">
        <label for="pMethodPayment">Forma de pago *</label>
        <ui-select id="pMethodPayment" name="pMethodPayment" ng-model="$ctrl._data.methodpayment" title="Forma de pago" ng-required="true">
          <ui-select-match placeholder="- Selecciona -">{{$ctrl._data.methodpayment}}</ui-select-match>
          <ui-select-choices repeat="item in $ctrl._methodpayments">
            <span ng-bind-html="item"></span>
          </ui-select-choices>
        </ui-select>
      </div>
      <div class="form-group col-md-3">
        <label for="pAmount">Monto *</label>
        <input type="number" step ="0.01" class="form-control" id="pAmount" placeholder="Monto" ng-model="$ctrl._data.amount">
      </div>
      <div class="form-group col-md-6">
        <label for="pInformation">Comentarios extra</label>
        <input type="text" class="form-control" id="pInformation" placeholder="Informacion" ng-model="$ctrl._data.comments">
      </div>
    </div>

  </div>
  <div class="modal-footer">
    <button class="btn btn-warning" type="button" ng-click="$ctrl.cancel()">Cancel</button>
    <button class="btn btn-primary" type="button" ng-click="$ctrl.save()">Realizar pago</button>
  </div>
</form>
