.wrapper .rent {
  text-align: left;
}


.ui-select-multiple.ui-select-bootstrap {
    height: 34px;
    cursor: pointer;
    .ui-select-search {
      margin-left: 8px;
    }
    .ui-select-match-item {
      outline: 0;
      margin: 0 3px 0 0;
    }
    .ui-select-match {
      vertical-align: middle;
    }
    input {
      cursor: pointer;
    }
}

