<div id="top" class="top-fix"></div>
<div class="fixed-sidebar">
  <gt-asidemenu active="rent"></gt-asidemenu>
  <div class="wrapper">
    <form name="rForm" id="rForm" class="" novalidate>
      <div class="rent">
        <div class="row">
          <div class="form-group col-md-7" ng-class="{ 'has-error': rForm.rClient.$dirty && rForm.rClient.$invalid }">
            <label for="rClient">Cliente</label>
            <ui-select id="rClient" name="rClient" ng-model="$ctrl._data.client" title="Cliente" ng-required="true">
              <ui-select-match placeholder="- Selecciona -">{{$ctrl._data.client.name}}</ui-select-match>
              <ui-select-choices repeat="item in $ctrl._clients">
                <span ng-bind-html="item.name"></span>
              </ui-select-choices>
            </ui-select>
            <span class="span-validation" ng-show="rForm.rClient.$dirty && rForm.rClient.$invalid">
              <span ng-show="rForm.rClient.$error.required">El cliente es requerido.</span>
            </span>
          </div>
          <div class="form-group col-md-5">
            <label for="rUser">Usuarios autorizados</label>
            <ui-select id="rUser" name="rUser" ng-model="$ctrl._data.user" multiple title="Usuarios autorizados">
              <ui-select-match placeholder="- Selecciona -">{{$item.fullName}}</ui-select-match>
              <ui-select-choices repeat="item in $ctrl._users | filter: $select.search">
                <span ng-bind-html="item.fullName"></span>
              </ui-select-choices>
            </ui-select>
          </div>
        </div>
        <div class="row">
          <div class="form-group col-md-7" ng-class="{ 'has-error': rForm.rStorageloker.$dirty && rForm.rStorageloker.$invalid }">
            <label for="slStorageloker">Bodega</label>
            <ui-select id="rStorageloker" name="rStorageloker" ng-model="$ctrl._data.storageloker" title="Bodega" on-select="$ctrl.onStoragelokerSelect($ctrl._data.storageloker.storagelokertypeId)" ng-required="true">
              <ui-select-match placeholder="- Selecciona -">{{$ctrl._data.storageloker.number}}</ui-select-match>
              <ui-select-choices repeat="item in $ctrl._storagelokers">
                <span ng-bind-html="item.number"></span>
              </ui-select-choices>
            </ui-select>
            <span class="span-validation" ng-show="rForm.rStorageloker.$dirty && rForm.rStorageloker.$invalid">
                <span ng-show="rForm.rStorageloker.$error.required">La bodega es requerida.</span>
              </span>
          </div>
          <div class="form-group col-md-5">
            <label for="rPromotion">Promociones</label>
            <ui-select id="rPromotion" name="rPromotion" ng-model="$ctrl._data.promotion" multiple title="Promociones">
              <ui-select-match placeholder="- Selecciona -">{{$item.name}}</ui-select-match>
              <ui-select-choices repeat="item in $ctrl._promotions | filter: $select.search">
                <span ng-bind-html="item.name"></span>
              </ui-select-choices>
            </ui-select>
          </div>
        </div>

        <div class="row">
          <div class="col-md-4">
            <div class="row">
              <div class="col-md-8">
                <label for="rDate">Fecha</label>
                <p class="input-group">
                  <input type="text" id="rDate" class="form-control" onkeydown="return false;" ng-model="$ctrl._data.startDate" ng-required="true"ng-disabled="$ctrl._saved"
                    uib-datepicker-popup="dd-MM-yyyy" is-open="$ctrl.popupDatepicker.opened" datepicker-options="$ctrl._dateOptions" close-text="Close" />
                  <span class="input-group-btn">
                    <button type="button" class="btn btn-default" ng-click="$ctrl.open()"><i class="glyphicon glyphicon-calendar"></i></button>
                  </span>
                </p>
              </div>
            </div>
          </div>
          <div class="col-md-3 costs text-right" ng-show="$ctrl._data.storageloker">
            <div class="row">
              <div class="col-md-8">
                <label for="rCosto">Costo :</label>
              </div>
              <div class="col-md-4">
                {{$ctrl._data.cost | currency:'$':2}}
              </div>
            </div>
            <div class="row">
              <div class="col-md-8">
                <label for="rIva">IVA :</label>
              </div>
              <div class="col-md-4">
                {{$ctrl._data.iva | currency:'$':2}}
              </div>
            </div>
            <div class="row">
              <div class="col-md-8">
                <label for="rTotal">Total :</label>
              </div>
              <div class="col-md-4">
                {{$ctrl._data.total | currency:'$':2}}
              </div>
            </div>
            <!--<div class="row">
              <div class="col-md-6"></div>
              <div class="col-md-6"></div>
            </div>
            <div class="">
              <label for="rCosto">Costo</label>
              <input type="number" step ="0.01" class="form-control" id="rCosto" placeholder="Costo" ng-model="$ctrl._data.cost">
            </div>
            <div class="">
              <label for="rExtr">Servicio extra</label>
              <input type="number" step ="0.01" class="form-control" id="rExtr" placeholder="Servicio Extra" ng-model="$ctrl._data.extra">
            </div>
            <div class="">
              <label for="rIva">IVA</label>
              <input type="number" step ="0.01" class="form-control" id="rIva" placeholder="IVA" ng-model="$ctrl._data.iva">
            </div>
            <div class="">
              <label for="rTotal">Total</label>
              <input type="number" step ="0.01" class="form-control" id="rTotal" placeholder="Total" ng-model="$ctrl._data.total">
            </div> -->
          </div>
        </div>
        <div class="row pull-right">
          <div class="col-md-12 ">
            <!--<a class="btn btn-default" ng-click="$ctrl.print()">imprimir</a>-->
            <a class="btn btn-default" href="#" ui-sref="rent">Cancelar</a>
            <a class="btn btn-primary" ng-click="$ctrl.validate() && rForm.$valid && $ctrl.save()">guardar</a>
          </div>
        </div>
      </div>
      </div>
    </form>
  </dvi>
</div>


