<div id="top"></div>
<!-- CAROUSEL -->
<carousel></carousel>
<!-- ABOUT US -->
<aboutus></aboutus>
<!-- SIZES -->
<sizes></sizes>
<!-- MARKETING -->
<marketing></marketing>

<div class="container tips">
  <h3><strong>GuardarTodo</strong> proporciona algunos consejos útiles para el traslado, uso y mejor aprovechamiento de tu </strong>minibodega.</strong></h3>
  <div class="col-md-12">
    <ul>
      <li>Coloca el mayor número de objetos pequeños dentro de una caja de cartón.</li>
      <li>Sitúa lo más cerca posible a la puerta de tu minibodega las cosas que puedas necesitar con más frecuencia.</li>
      <li>Recomendamos colocar sus pertenencias arriba de una tarima.</li>
      <li>Aprovecha los espacios vacíos de los armarios y cajones.</li>
      <li>Protege los muebles y objetos de valor con material de empaque.</li>
      <li>Descongela tu refrigerador, asegúrate que la lavadora y lavavajilla no contengan agua antes de ponerlos en la minibodega.</li>
      <li>Si tienes previsto guardar tus pertenencias por mucho tiempo, te recomendamos cubrirlas con plástico.</li>
    </ul>
  </div>
</div>

<div class="container confirm">
  <div class="row">
    <div class="col-md-4">
      <h2>ESPACIOS</h2>
      <p>Bodegas de 3, 7, 11, 16m2 - 42m2</p>
      <p>Instalaciones de Fácil Acceso</p>
      <p>Nos Adaptamos a tus Necesidades</p>
    </div>
    <div class="col-md-4">
      <h2>SEGURIDAD</h2>
      <p>Vigilancia las 24hrs.</p>
      <p>Área de Carga y Descarga Techada</p>
      <p>Sistema de Video vigilancia 24hrs.</p>
    </div>
    <div class="col-md-4">
      <h2>COMODIDAD</h2>
      <p>Excelente Ubicación</p>
      <p>Personal Calificado para Apoyo en sus Maniobras</p>
      <p>Subterráneo Baja Temperatura. NO SOL!!!</p>
    </div>
  </div>

</div>

<!-- CONTACT US -->
<contactus></contactus>
