.jumbotron {
    margin-bottom: 0;
}

.top-fix{
    padding-top: 76px;
}

#marketing {
    padding-top: 60px;
    .row{
        text-align: center;
    }
    h2 {
        font-weight: normal;
    }
    h4 {
        padding-left: 15px;
        padding-right: 15px;
    }
    .col-marketing {
        display: inline-block;
        width: 275px;
        margin-bottom: 20px;
        text-align: center;
        vertical-align: top;
    }
    .col-marketing p {
        margin-right: 10px;
        margin-left: 10px;
    }
}

.featurette-divider {
    margin: 80px 0;
}

.featurette-heading {
    font-weight: 300;
    line-height: 1;
    letter-spacing: -1px;
}

#contact-us .jumbotron {
    background-color: #ffffff;
    p {
        &:not(:first-of-type) {
            font-size: 18px;
        }
    }
}

.initialModal {
    width: 100%;
    padding: 2px;
}

.initial.modal-header {
    position: absolute;
    right: 0;
    color: white;
    border: 0;

    button {
        color: white;
        text-shadow: 0 1px 0 #fff;
        filter: alpha(opacity=20);
        opacity: 1;
    }
}

.socials {
    text-align: center;
    a {
        width: 50px;
        margin: 0px 100px;
    }

}


.footer {
    padding: 40px 0;
    color: #999;
    text-align: center;
    background-color: #f8f8f8;
    border-top: 1px solid #e7e7e7;
    p:last-child {
        margin-bottom: 0;
    }
}

@media (min-width: 768px) {
    .featurette-heading {
        font-size: 50px;
    }
}

@media (min-width: 992px) {
    .featurette-heading {
        margin-top: 120px;
    }
}



.app {
  height: 100%;
  //ackground-color: $lightBgColor;
}

