.jumbotron {
    margin-bottom: 0;
}

.top-fix {
    height: 75px;
}
.span-validation {
    color:#a94442
}

.body {
    font-family: 'Roboto', Arial, Helvetica, sans-serif;
    min-height: calc(100vh - 96px);
    background: #f1f3f6;
}


.initialModal {
    width: 100%;
    padding: 2px;
}

.initial.modal-header {
    position: absolute;
    right: 0;
    color: white;
    border: 0;

    button {
        color: white;
        text-shadow: 0 1px 0 #fff;
        filter: alpha(opacity=20);
        opacity: 1;
    }
}

.socials {
    text-align: center;
    a {
        width: 50px;
        margin: 0px 100px;
    }
}

.footer {
  padding: 30px 0 15px 0;
  color: #999;
  text-align: center;
  background-color: #f8f8f8;
  border-top: 1px solid #e7e7e7;
  p:last-child {
    margin-bottom: 0;
  }
}

.buttons {
  position: relative;
}

.glyphicon-label {
  position:absolute;
  left:0;
  right:0;
}

.app {
  height: 100%;
}


