<div class="modal-header">
  <h3 class="modal-title">{{$ctrl._title}}</h3>
</div>
<div class="modal-body">
  <div class="row">
    <div class="form-group col-md-6">
      <label for="cFirstName">Nombre</label>
      <input type="text" class="form-control" id="cFirstName" placeholder="Nombre" ng-model="$ctrl._data.firstName" required>
    </div>
    <div class="form-group col-md-6">
      <label for="cLastName">Apellidos</label>
      <input type="text" class="form-control" id="cLastName" placeholder="Apellidos" ng-model="$ctrl._data.lastName" required>
    </div>
  </div>

  <div class="row">
    <div class="form-group col-md-4">
      <label for="cStreet">Calle</label>
      <input type="text" class="form-control" id="cStreet" placeholder="Calle" ng-model="$ctrl._data.street">
    </div>
    <div class="form-group col-md-4">
      <label for="cTown">Colonia</label>
      <input type="text" class="form-control" id="cTown" placeholder="Colonia" ng-model="$ctrl._data.town">
    </div>
  </div>

  <div class="row">
    <div class="form-group col-md-4">
      <label for="cCountry">Municipio</label>
      <input type="text" class="form-control" id="cCountry" placeholder="Municipio" ng-model="$ctrl._data.country">
    </div>
    <div class="form-group col-md-4">
      <label for="cState">Estado</label>
      <input type="text" class="form-control" id="cState" placeholder="Estado" ng-model="$ctrl._data.state">
    </div>
    <div class="form-group col-md-4">
      <label for="cZipcode">Codigo postal</label>
      <input type="text" class="form-control" id="cZipcode" placeholder="Codigo postal" ng-model="$ctrl._data.zipcode">
    </div>
  </div>

  <div class="row">
    <div class="form-group col-md-4">
      <label for="cPhone">Telefono</label>
      <input type="text" class="form-control" id="cPhone" placeholder="Telefono"ng-model="$ctrl._data.phone">
    </div>
    <div class="form-group col-md-4">
      <label for="cCellphone">Celular</label>
      <input type="text" class="form-control" id="cCellphone" placeholder="Celular"ng-model="$ctrl._data.cellPhone">
    </div>
    <div class="form-group col-md-4">
      <label for="cEmail">Correo electronico</label>
      <input type="email" class="form-control" id="cEmail" placeholder="Correo electronico"ng-model="$ctrl._data.email">
    </div>
  </div>

  <div class="row">
    <div class="form-group col-md-4">
      <label for="uRfc">RFC</label>
      <input type="text" class="form-control" id="uRfc" placeholder="RFC" ng-model="$ctrl._data.rfc">
    </div>
  </div>

  <div class="row">
    <div class="form-group col-md-4">
      <label for="uLineOfBusiness">Giro de la empresa</label>
      <input type="text" class="form-control" id="uLineOfBusiness" placeholder="Giro de la empresa" ng-model="$ctrl._data.lineOfBusiness">
    </div>
    <div class="form-group col-md-4">
      <label for="uLegalRepresentative">Representante legal</label>
      <input type="text" class="form-control" id="uLegalRepresentative" placeholder="Representante legal" ng-model="$ctrl._data.legalRepresentative">
    </div>
    <div class="form-group col-md-4">
      <label for="uKindOfBusiness">Persona de tipo</label>
      <input type="text" class="form-control" id="uKindOfBusiness" placeholder="Persona de tipo" ng-model="$ctrl._data.kindOfBusiness">
    </div>
  </div>
</div>
<div class="modal-footer">
  <button class="btn btn-primary" type="button" ng-click="$ctrl.save()">Guardar</button>
  <button class="btn btn-default" type="button" ng-click="$ctrl.cancel()">Cancelar</button>
</div>
