<div class="modal-header">
  <h3 class="modal-title">{{$ctrl._title}}</h3>
</div>
<form name="cForm" id="cForm" novalidate>
  <div class="modal-body">
    <div class="row">
      <div class="form-group col-md-6" ng-class="{ 'has-error': cForm.cName.$dirty && cForm.cName.$invalid }">
        <label for="cName">Nombre o Razon Social*</label>
        <input type="text" class="form-control" id="cName" name="cName" placeholder="Nombre" ng-model="$ctrl._data.name" maxlength="200" required>
        <span class="span-validation" ng-show="cForm.cName.$dirty && cForm.cName.$invalid">
          <span ng-show="cForm.cName.$error.required">El nombre es requerido.</span>
        </span>
      </div>
    </div>

    <div class="row">
      <div class="form-group col-md-4">
        <label for="cStreet">Calle</label>
        <input type="text" class="form-control" id="cStreet" placeholder="Calle" ng-model="$ctrl._data.street" maxlength="200">
      </div>
      <div class="form-group col-md-4">
        <label for="cTown">Colonia</label>
        <input type="text" class="form-control" id="cTown" placeholder="Colonia" ng-model="$ctrl._data.town" maxlength="200">
      </div>
    </div>

    <div class="row">
      <div class="form-group col-md-4">
        <label for="cCountry">Municipio</label>
        <input type="text" class="form-control" id="cCountry" placeholder="Municipio" ng-model="$ctrl._data.country" maxlength="200">
      </div>
      <div class="form-group col-md-4">
        <label for="cState">Estado</label>
        <input type="text" class="form-control" id="cState" placeholder="Estado" ng-model="$ctrl._data.state" maxlength="200">
      </div>
      <div class="form-group col-md-4">
        <label for="cZipcode">Codigo postal</label>
        <input type="text" class="form-control" id="cZipcode" placeholder="Codigo postal" ng-model="$ctrl._data.zipcode" maxlength="5">
      </div>
    </div>

    <div class="row">
      <div class="form-group col-md-4">
        <label for="cPhone">Telefono</label>
        <input type="text" class="form-control" id="cPhone" placeholder="Telefono"ng-model="$ctrl._data.phone" maxlength="45">
      </div>
      <div class="form-group col-md-4">
        <label for="cCellphone">Celular</label>
        <input type="text" class="form-control" id="cCellphone" placeholder="Celular"ng-model="$ctrl._data.cellPhone" maxlength="45">
      </div>
      <div class="form-group col-md-4">
        <label for="cEmail">Correo electronico</label>
        <input type="email" class="form-control" id="cEmail" placeholder="Correo electronico"ng-model="$ctrl._data.email" maxlength="250">
      </div>
    </div>

    <div class="row">
      <div class="form-group col-md-4">
        <label for="cRfc">RFC</label>
        <input type="text" class="form-control" id="cRfc" placeholder="RFC" ng-model="$ctrl._data.rfc" maxlength="45">
      </div>
    </div>

    <div class="row">
      <div class="form-group col-md-4">
        <label for="cLineOfBusiness">Giro</label>
        <ui-select id="cLineOfBusiness" name="cLineOfBusiness" ng-model="$ctrl._data.lineOfBusiness" title="Giro">
          <ui-select-match placeholder="- Selecciona -">{{$ctrl._data.lineOfBusiness}}</ui-select-match>
          <ui-select-choices repeat="item in $ctrl._lineOfBusiness">
            <span ng-bind-html="item"></span>
          </ui-select-choices>
        </ui-select>
      </div>
      <div class="form-group col-md-4">
        <label for="cLegalRepresentative">Representante legal</label>
        <input type="text" class="form-control" id="cLegalRepresentative" placeholder="Representante legal" ng-model="$ctrl._data.legalRepresentative" maxlength="400">
      </div>
      <div class="form-group col-md-4">
        <label for="cKindOfBusiness">Persona de tipo</label>
        <ui-select id="cKindOfBusiness" name="cKindOfBusiness" ng-model="$ctrl._data.kindOfBusiness" title="Persona de tipo">
          <ui-select-match placeholder="- Selecciona -">{{$ctrl._data.kindOfBusiness}}</ui-select-match>
          <ui-select-choices repeat="item in $ctrl._kindOfBusiness">
            <span ng-bind-html="item"></span>
          </ui-select-choices>
        </ui-select>
      </div>
    </div>
  </div>
  <div class="modal-footer">
    <button class="btn btn-primary" type="button" ng-click="$ctrl.validate() && cForm.$valid && $ctrl.save()">Guardar</button>
    <button class="btn btn-default" type="button" ng-click="$ctrl.cancel()">Cancelar</button>
  </div>
</form>
