<div id="top" class="top-fix"></div>
  <div class="fixed-sidebar">
    <gt-asidemenu active="client"></gt-asidemenu>
    <div class="wrapper">
      <div class="form-group filters">
        <div class="col-md-8">
          <button class="btn btn-default" ng-click="$ctrl.openDialog()">Nuevo cliente</button>
        </div>
        <div class="col-md-4">
          <div class="input-group">
            <span class="input-group-addon"><span class="glyphicon glyphicon-search"></span></span>
            <input class="form-control" placeholder="buscar" ng-model="search">
          </div>
        </div>
      </div>
      <ul>
        <li ng-if="$ctrl._clients.length === 0">
          <h4>No existen clientes</h4>
        </li>
        <li ng-repeat="c in $ctrl._clients track by c.clientId">
          <div class="well row">
            <div class="col-md-1">
            </div>
            <div class="col-md-5">
              <h3>{{c.name}}</h3>
              <p>{{c.address}}</p>

            </div>
            <div class="col-md-4">
              <p>Email: {{c.email}}</p>
              <p>Celular: {{c.cellPhone}}</p>
              <p>Telefono: {{c.phone}}</p>
            </div>

            <div class="col-md-1 buttons" ng-click="$ctrl.openDialog(c.clientId)">
              <span class="glyphicon glyphicon-pencil" ></span>
              <span class="glyphicon-label">Cambiar</span>
            </div>

            <div class="col-md-1 buttons">
              <a ng-confirm-message="¿Estás seguro de querer eliminar el cliente {{c.name}}?" ng-confirm="$ctrl.remove(c.clientId, c.name)">
                <span class="glyphicon glyphicon-trash" ></span>
                <span class="glyphicon-label">Borrar</span>
              </a>
            </div>
          </div>
        </li>
      </ul>
    </div>
  </div>
