<div id="sizes">
  <div class="wrapper-sizes">
    <div class="package">
      <div class="name">Limited</div>
      <div class="price">€2</div>
      <ul>
        <li>
          <strong>8</strong>
        </li>
        <li>
          <strong>5</strong> team playlists
        </li>
        <li>
          <strong>Unlimited</strong> public playlists
        </li>
      </ul>
    </div>
    <div class="package">
      <div class="name">Limited</div>
      <div class="price">€2</div>
      <ul>
        <li>
          <strong>8</strong>
        </li>
        <li>
          <strong>5</strong> team playlists
        </li>
        <li>
          <strong>Unlimited</strong> public playlists
        </li>
      </ul>
    </div>
    <div class="package">
      <div class="name">Limited</div>
      <div class="price">€2</div>
      <ul>
        <li>
          <strong>8</strong>
        </li>
        <li>
          <strong>5</strong> team playlists
        </li>
        <li>
          <strong>Unlimited</strong> public playlists
        </li>
      </ul>
    </div>
    <div class="package">
      <div class="name">Limited</div>
      <div class="price">€2</div>
      <ul>
        <li>
          <strong>8</strong>
        </li>
        <li>
          <strong>5</strong> team playlists
        </li>
        <li>
          <strong>Unlimited</strong> public playlists
        </li>
      </ul>
    </div>
  </div>
</div>


