#sizes {
  padding-top: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.wrapper-sizes {
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    color: #9f9f9f;
    font-size: 15px;
    text-align: center;
}
.package {
    box-sizing: border-box;
    width: 270px;
    height: 350px;
    border: 3px solid #e8e8e8;
    border-radius: 7px;
    display: inline-block;
    padding: 10px;
    text-align: center;
    margin: 10px 5px;
}
.package:hover{
    border: 3px solid #565656;
    ul li {
        color:#565656
    }
}
.name {
    color: #565656;
    font-weight: 300;
    font-size: 3rem;
    margin-top: -5px;
}
ul {
    list-style: none;
    padding: 0;
    text-align: center;
    margin-top: 29px;
}
li {
    margin-bottom: 15px;
}
li::before {
    font-size: 1.3rem;
    color: #33c4b6;
    margin-right: 3px;
}
.brilliant {
    border-color: #33c4b6;
}
/* Triangle */
.brilliant::before {
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 64px 64px 0 0;
    border-color: #3bc6b8 transparent transparent transparent;
    position: absolute;
    left: 0;
    top: 0;
    content: "";
}
.brilliant::after {
    color: white;
    position: absolute;
    left: 9px;
    top: 6px;
    text-shadow: 0 0 2px #37c5b6;
    font-size: 1.4rem;
}
