<div id="top" class="top-fix"></div>
  <div class="fixed-sidebar">
    <gt-asidemenu active="dashboard"></gt-asidemenu>
    <div class="wrapper">
      <div class="dash-info">
        <div class="row">
          <div class="col-md-6 info"></div>
          <div class="col-md-6 info"></div>
        </div>
        <div class="row">
          <div class="col-md-12 bottom-button">
            <a class="btn btn-default" href="/rent" sref="rent">Rentar</a>
          </div>
        </div>
      </div>
      <div class="dash-info"></div>
      <div class="dash-info"></div>
      <div class="dash-info"></div>
      <div class="dash-info"></div>
    </div>
  </div>
</div>
