.dash-info {
    width: 450px;
    height: 450px;
    //vertical-align: top;
    text-align: left;
    margin: 5px;
    display: inline-block;
    padding: 10px;

    .info {
        height:150px;
    }

    .bottom-button {
        text-align:center;
    }
}
