<div id="top" class="top-fix"></div>
  <div class="fixed-sidebar">
    <gt-asidemenu active="dashboard"></gt-asidemenu>
    <div class="wrapper">
      <span>ejemplos</span>
      <div class="dash-info">
        <canvas id="myChart"></canvas>
      </div>
      <div class="dash-info">
        <canvas id="myChart2"></canvas>
      </div>
      <div class="dash-info">
        <canvas id="myChart3"></canvas>
      </div>
      <!--<div class="dash-info"></div>
      <div class="dash-info"></div>
      <div class="dash-info"></div>
      <div class="dash-info"></div>-->
    </div>
  </div>
</div>
