<div class="container confirm">
  <div class="row">
    <div class="col-md-4">
      <h2>ESPACIOS</h2>
      <p>Bodegas de 3, 7, 11, 16m² - 42m²</p>
      <p>Instalaciones de Fácil Acceso</p>
      <p>Nos Adaptamos a tus Necesidades</p>
    </div>
    <div class="col-md-4">
      <h2>SEGURIDAD</h2>
      <p>Vigilancia las 24hrs.</p>
      <p>Área de Carga y Descarga Techada</p>
      <p>Sistema de Video vigilancia 24hrs.</p>
    </div>
    <div class="col-md-4">
      <h2>COMODIDAD</h2>
      <p>Excelente Ubicación</p>
      <p>Personal Calificado para Apoyo en sus Maniobras</p>
      <p>Subterráneo Baja Temperatura. NO SOL!!!</p>
    </div>
  </div>

</div>
