<div id="contact-us">
  <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3593.213375421215!2d-100.30715154915633!3d25.76351481473241!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x8662947e0012042b%3A0xbe52ecddf8f5c872!2sGuardar+Todo+-+Mini+Bodegas!5e0!3m2!1sen!2smx!4v1482348049495" width="100%" height="450" frameborder="0" style="border:0" allowfullscreen></iframe>
  <div class="jumbotron">
    <div class="container">
      <h2><i>Contáctanos</i></h2>
      <hr />
      <p>Av. Manuel L. Barragán, #1400,
          Colonia Las Misiones,
          San Nicolas de los Garza,
          N.L.
      </p>
      <p>
        <img alt="phone" src="images/phone.svg" style="width: 20px;"> 812-556-0582</p>
      <p>
        <img alt="mail" src="images/mail.svg" style="width: 20px;"> info@guardartodo.com
      </p>
      <div class="socials">
        <a href="http://www.facebook.com/GuardarTodo/" target="_blank">
          <img alt="facebook" src="images/facebook.svg" style="width: 35px;">
        </a>
        <a href="https://twitter.com/GuardarTodo/" target="_blank">
          <img alt="twitter" src="images/twitter.svg" style="width: 35px;">
        </a>
      </div>
    </div>
  </div>
</div>
