<hr id="feature" class="featurette-divider">
<div ng-repeat="item in $ctrl._items">
  <div class="row featurette" id="featurette-{{$index}}">
    <div ng-if="$even">
      <div class="col-md-7">
        <h2 class="featurette-heading">{{item.title}}</h2><br />
        <p class="lead">{{item.description}}</p>
      </div>
      <div class="col-md-5">
        <img class="featurette-image img-responsive center-block" alt="500x500" ng-src="images/{{item.imagen}}" style="height: 500px;width: 500px;" data-holder-rendered="true">
      </div>
    </div>
    <div ng-if="$odd">
      <div class="col-md-7 col-md-push-5">
        <h2 class="featurette-heading">{{item.title}}</h2><br />
        <p class="lead">{{item.description}}</p>
      </div>
      <div class="col-md-5 col-md-pull-7">
        <img class="featurette-image img-responsive center-block" alt="500x500" ng-src="images/{{item.imagen}}" style="height: 500px;width: 500px;" data-holder-rendered="true">
      </div>
    </div>
  </div>
  <hr class="featurette-divider">
</div>
