<div id="marketing" class="container">
  <!-- Three columns of text below the carousel -->
  <div class="row">
    <div class="col-marketing">
      <img class="" src="images/super-8.svg" alt="Generic placeholder image" width="140" height="140">
      <h2>Seguridad</h2>
      <h4>Seguridad total,con camaras de monitoreo 24Hrs.</h4>
      <!--<p><a class="btn btn-default" href="#" role="button">View details »</a></p>-->
    </div>
    <!-- /.col-lg-4 -->
    <div class="col-marketing">
      <img class="" src="images/contract.svg" alt="Generic placeholder image" width="140" height="140">
      <h2>Contratos</h2>
      <h4>No planes Forzosos, Disponibles desde  Un mes.</h4>
      <!--<p><a class="btn btn-default" href="#" role="button">View details »</a></p>-->
    </div>
    <!-- /.col-lg-4 -->
    <div class="col-marketing">
      <img class="" src="images/car.svg" alt="Generic placeholder image" width="140" height="140">
      <h2>Acceso</h2>
      <h4>Tienes acceso con tu auto hasta tu bodega.</h4>
      <!--<p><a class="btn btn-default" href="#" role="button">View details »</a></p>-->
    </div>
    <div class="col-marketing">
      <img class="" src="images/padlock.svg" alt="Generic placeholder image" width="140" height="140">
      <h2>Privacidad</h2>
      <h4>Tu pones tu candado, solo TU tienes llave.</h4>
      <!--<p><a class="btn btn-default" href="#" role="button">View details »</a></p>-->
    </div>
    <div class="col-marketing">
      <img class="" src="images/calendar.svg" alt="Generic placeholder image" width="140" height="140">
      <h2>Sin plagas</h2>
      <h4>Contamos con control mensual de Fumigacion.</h4>
      <!--<p><a class="btn btn-default" href="#" role="button">View details »</a></p>-->
    </div>
    <div class="col-marketing">
      <img class="" src="images/thermometer.svg" alt="Generic placeholder image" width="140" height="140">
      <h2>Temperatura</h2>
      <h4>Somos subterraneos, No Sol!</h4>
      <!--<p><a class="btn btn-default" href="#" role="button">View details »</a></p>-->
    </div>
    <!-- /.col-lg-4 -->
  </div>
  <!-- /.row -->
  <!-- START THE FEATURETTES -->
  <featurettes></featurettes>
  <!-- /END THE FEATURETTES -->
</div>
