.wrapper.rent {

    .input-group-addon {
        border: 0px solid #ccc;
        border-bottom: 1px solid #ccc;
        border-top: 1px solid #ccc;
    }

    .done {
        background-color: #eee !important
    }
}

.dropdown-menu>li>a {
    padding: 10px 20px;
}

.btn-filter {
    background-color: #eee;
}

.buttoninfo.payments {
    cursor: pointer;
    span.glyphicon-label:before {
        content: 'Meses pendientes';
    }
    &:hover {
        span.glyphicon-label:before {
            content: 'Realizar pago';
        }
    }

}
