<div id="top" class="top-fix"></div>
<div class="fixed-sidebar">
  <gt-asidemenu active="rent"></gt-asidemenu>
  <div class="wrapper rent">
    <div class="form-group filters">
      <div class="col-md-8">
        <a class="btn btn-default" ui-sref="rentedit">Nueva Renta</a>
      </div>
      <div class="col-md-4">
        <div class="input-group">
          <div class="input-group-btn">
            <!---->
            <button type="button" class="btn-filter btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              <span class="glyphicon glyphicon-filter"></span>
            </button>
            <ul class="dropdown-menu">
              <li><a href="#" ng-click="$ctrl.searchActive()">Rentas activas</a></li>
              <li><a href="#" ng-click="$ctrl.searchInactive()">Rentas inactivas</a></li>
              <li><a href="#" ng-click="$ctrl.searchPendingPayments()">Rentas con pagos pendientes</a></li>
              <li role="separator" class="divider"></li>
              <li><a href="#" ng-click="$ctrl.searchRents()">Borrar filtros</a></li>
            </ul>
          </div>
          <span class="input-group-addon"><span class="glyphicon glyphicon-search"></span></span>
          <input class="form-control" placeholder="buscar" ng-model="search">
        </div>
      </div>
    </div>
    <ul>
      <li ng-if="$ctrl._rents.length === 0">
        <h4>No existen rentas</h4>
      </li>
      <li ng-repeat="rent in $ctrl._rents track by rent.rentId">
        <div class="well row" ng-class="{ 'done': !rent.active }">
          <div class="col-md-1">
          </div>
          <div class="col-md-3">
            <h3>{{rent.number}}</h3>
            <p>{{rent.storagelokertypename}}</p>
          </div>
          <div class="col-md-3">
            <h4>{{rent.name}}</h4>
            <p>{{rent.active?'En renta':'finalizado'}}</p>
            <p>{{rent.startDateToString}}</p>
          </div>
          <div class="col-md-5">
            <div class="col-md-2 buttoninfo payments">
              <a ng-payment ng-payment-id="{{rent.rentId}}" ng-client-id="{{rent.clientId}}" ng-hide="!rent.active || rent.pendings == 0">
                <span><i class="fa fa-money" aria-hidden="true"></i> {{rent.pendings}}</span>
                <span class="glyphicon-label"></span>
              </a>
            </div>
            <div class="col-md-2 buttons btn-file">
              <input type="file" upload-file="$ctrl._myFile"/>
              <!--<button ng-click="$ctrl.uploadFile()">upload me</button>-->
              <span class="glyphicon glyphicon-paperclip" ></span>
              <span class="glyphicon-label">Adjuntar contrato</span>
            </div>
            <div class="col-md-2 buttons">
              <a ng-hide="!rent.active" ng-confirm-message="¿Estás seguro de finalizar el contrato de renta?" ng-confirm="$ctrl.setEndDateRent(rent.rentId)">
                <span class="glyphicon glyphicon-alert"></span>
                <span class="glyphicon-label">Terminar contrato</span>
              </a>
            </div>
            <div class="col-md-2 buttons">
              <a ng-hide="!rent.active" ng-click="$ctrl.print(rent.rentId)">
                <span class="glyphicon glyphicon-print"></span>
                <span class="glyphicon-label">Imprimir</span>
              <a>
            </div>
            <div class="col-md-2 buttons">
              <a ng-hide="!rent.active" ng-href='rentedit/{{rent.rentId}}'>
                <span class="glyphicon glyphicon-pencil"></span>
                <span class="glyphicon-label">Cambiar</span>
              </a>
            </div>
            <div class="col-md-2 buttons">
              <a ng-confirm-message="¿Estás seguro de querer eliminar la renta?" ng-confirm="$ctrl.remove(rent.rentId)">
                <span class="glyphicon glyphicon-trash" ></span>
                <span class="glyphicon-label">Borrar</span>
              </a>
            </div>
          </div>
        </div>
      </li>
    </ul>
  </div>
</div>
