.wrapper .input-group-addon {
    border: 0px solid #ccc;
    border-bottom: 1px solid #ccc;
    border-top: 1px solid #ccc;
}

.dropdown-menu>li>a {
    padding: 10px 20px;
}

.btn-filter {
background-color: #eee;
}

