.wrapper.rent {

    .input-group-addon {
        border: 0px solid #ccc;
        border-bottom: 1px solid #ccc;
        border-top: 1px solid #ccc;
    }

    .done {
        background-color: #dcdcdc !important;
        .buttons, .buttons a {
            color: rgba(152, 152, 152, 0.7);
        }
    }
}

.dropdown-menu>li>a {
    padding: 10px 20px;
}

.btn-filter {
    background-color: #eee;
}

.buttoninfo.payments {
    cursor: pointer;
    span.glyphicon-label:before {
        content: 'Meses pendientes';
    }
    &:hover {
        span.glyphicon-label:before {
            content: 'Realizar pago';
        }
    }

}


.btn-file {
    position: relative;
    overflow: hidden;
}

.btn-file input[type=file] {
    position: absolute;
    top: 0;
    right: 0;
    min-width: 100%;
    min-height: 100%;
    font-size: 100px;
    text-align: right;
    filter: alpha(opacity=0);
    opacity: 0;
    outline: none;
    background: white;
    cursor: inherit;
    display: block;
    z-index:100;
}
