<div id="top" class="top-fix"></div>
<div class="fixed-sidebar">
  <gt-asidemenu active="rent"></gt-asidemenu>
  <div class="wrapper">
    <div class="form-group filters">
      <div class="col-md-8">
        <a class="btn btn-default" ui-sref="rentedit">Nueva Renta</a>
      </div>
      <div class="col-md-4">
        <div class="input-group">
          <span class="input-group-addon"><span class="glyphicon glyphicon-search"></span></span>
          <input class="form-control" placeholder="buscar" ng-model="search">
        </div>
      </div>
    </div>
    <ul>
      <li ng-if="$ctrl._rents.length === 0">
        <h4>No existen rentas</h4>
      </li>
      <li ng-repeat="rent in $ctrl._rents track by rent.rentId">
        <div class="well row">
          <div class="col-md-1">
          </div>
          <div class="col-md-3">
            <h3>{{rent.number}}</h3>
            <p>{{rent.storagelokertypename}}</p>
          </div>
          <div class="col-md-3">
            <h4>{{rent.name}}</h4>
            <p>{{rent.active?'En renta':'finalizado'}}</p>
            <p>{{rent.startDateToString}}</p>
          </div>
          <div class="col-md-1">

          </div>
          <div class="col-md-1 buttons">
            <div ng-hide="!rent.active">
              <span class="glyphicon glyphicon-ok-circle"></span>
              <span class="glyphicon-label">Terminar contrato</span>
            </div>
          </div>
          <div class="col-md-1 buttons" ng-click="$ctrl.print(rent.rentId)">
            <span class="glyphicon glyphicon-print"></span>
            <span class="glyphicon-label">Imprimir</span>
          </div>
          <div class="col-md-1 buttons">
            <a ng-href='rentedit/{{rent.rentId}}'>
              <span class="glyphicon glyphicon-pencil"></span>
              <span class="glyphicon-label">Cambiar</span>
            </a>
          </div>
          <div class="col-md-1 buttons">
            <a ng-confirm-message="¿Estás seguro de querer eliminar la renta?" ng-confirm="$ctrl.remove(rent.rentId)">
              <span class="glyphicon glyphicon-trash" ></span>
              <span class="glyphicon-label">Borrar</span>
            </a>
          </div>
        </div>
      </li>
    </ul>
  </div>
</div>
