.wrapper {
    margin: 0 0 0 200px;
    background: #f1f3f6;
    border-left: 1px solid #e4e5e7;
    position: relative;
    min-height: 100%;
    text-align: center;
    padding: 40px;

    ul {
        padding: 0px;
        li {
            list-style-type: none;
            .well {
                padding: 5px;
                text-align: left;
                margin-bottom: 10px;
                background-color: #ffffff;
                border: 1px solid #d0d0d0;
                margin-right: 0px;
                margin-left: 0px;
                .buttons, .buttons a {
                    color: rgba(204, 204, 204, 0.7);
                    padding-top: 25px;
                    &:hover {
                        color: #4e1515;
                        cursor: pointer;
                        span.glyphicon-label {
                            display: block !important;
                        }
                    }
                    .glyphicon {
                        font-size: 20px;
                        vertical-align: middle;
                    }
                    span {
                        display: block;
                        text-align: center;
                    }
                    span.glyphicon-label {
                        display: none;
                        font-size: 10px;
                        padding-top: 15px;
                    }
                }

                .buttoninfo {
                    padding-top: 25px;
                    span {
                        color: #4e1515;
                        display: block;
                        text-align: center;
                        font-size: 24px;
                        font-weight: 600;
                    }
                    span.glyphicon-label {
                        font-size: 10px;
                        padding-top: 2px;
                        font-weight: normal;
                    }
                }
            }
            .well.row {
                min-height:100px;
            }
        }
    }
    .form-group.filters {
        margin-bottom: 50px;
        text-align: left;
    }
}



.modal-header {
    padding: 10px;
    //background-color: #b3b3b3;
}
