<div class="top-fix "></div>
<div class="container signin-form">
  <form id="sForm" name="sForm" class="form"  novalidate>
    <div class="form-group" ng-class="{'has-error':sForm.username.$dirty && sForm.username.$invalid}">
      <label class="form-control-label" for="username">Usuario</label>
      <input class="form-control" id="username" name="username" ng-model="$ctrl._data.username" required autofocus/>
      <span class="span-validation" ng-show="sForm.username.$dirty && sForm.username.$invalid">
        <span ng-show="sForm.username.$error.required">El usuario es requerido</span>
      </span>
    </div>
    <div class="form-group" ng-class="{'has-error':sForm.password.$dirty && sForm.password.$invalid}">
      <label class="form-control-label" for="password">Contraseña</label>
      <input class="form-control" type="password" name="password" id="password" ng-model="$ctrl._data.password" required/>
      <span class="span-validation" ng-show="sForm.password.$dirty && sForm.password.$invalid">
        <span ng-show="sForm.password.$error.required">el password es requerido</span>
      </span>
    </div>
    <div class="form-group span-validation">
      <span class="error">{{$ctrl._errormessage}}</span>
    </div>
    <div class="form-group">
      <button  ng-click="$ctrl.validation() && sForm.$valid && $ctrl.signin()" class="btn btn-default">Entrar</button>
    </div>
  </form>
</div>
