<div id="top" class="top-fix"></div>
<div class="fixed-sidebar">
  <gt-asidemenu active="payment"></gt-asidemenu>
  <div class="wrapper payment">
    <div class="form-group filters">
      <div class="col-md-8">
        <a class="btn btn-primary" ng-payment ng-refresh="$ctrl.searchPayments()">Nuevo pago</a>
      </div>
      <div class="col-md-4">
        <div class="input-group">
          <span class="input-group-addon"><span class="glyphicon glyphicon-search"></span></span>
          <input class="form-control" placeholder="buscar" ng-model="search">
        </div>
      </div>
    </div>
    <ul>
      <li ng-if="$ctrl._payments.length === 0">
        <h4>No existen pagos</h4>
      </li>
      <li ng-repeat="(key, p) in $ctrl._payments | groupBy: '-paymentId'">
        <div class="well row">
          <div class="col-md-1">
            <p>{{p[0]['paymentId']}}</p>
          </div>
          <div class="col-md-4">
            <h3 class="principal">{{p[0]['name']}}</h3>
            <p>{{p[0]['methodOfPayment']}}</p>
          </div>
          <div class="col-md-5">
            <div ng-repeat="pay in p">
              <h4>[<span class="principal">{{pay.number}}</span>] - {{pay.month}}</h4>
              <span><i>{{pay.folio}}</i></span>
            </div>
          </div>
          <div class="col-md-1 buttons">
          </div>
          <div class="col-md-1 buttons">
            <a ng-confirm-message="¿Estás seguro de querer eliminar el pago?" ng-confirm="$ctrl.remove(p[0]['paymentId'])">
                <span class="glyphicon glyphicon-trash" ></span>
                <span class="glyphicon-label">Borrar</span>
              </a>
          </div>
        </div>
      </li>
    </ul>
  </div>
</div>
