<div id="top" class="top-fix"></div>
<div class="fixed-sidebar">
  <gt-asidemenu active="storagelokertype"></gt-asidemenu>
  <div class="wrapper">
    <div class="form-group filters">
      <div class="col-md-8">
        <button class="btn btn-primary" ng-click="$ctrl.openDialog()">Nuevo tipo de bodega</button>
      </div>
      <div class="col-md-4">
        <div class="input-group">
          <span class="input-group-addon"><span class="glyphicon glyphicon-search"></span></span>
          <input class="form-control"  placeholder="buscar" ng-model="search">
        </div>
      </div>
    </div>
    <ul>
      <li ng-if="$ctrl.storageloker.length === 0">
        <h4>No existen bodegas</h4>
      </li>
      <li ng-repeat="slt in $ctrl._storagelokertype track by slt.storagelokertypeId">
        <div class="well row">
          <div class="col-md-1">
            <span ng-show="{{slt.using > 0}}" class="label label-primary">{{slt.using}}</span>
            <p ng-show="{{slt.using > 0}}" class="info">Bodegas asignadas</p>
          </div>
          <div class="col-md-6">
            <h3 class="principal">{{slt.name}}</h3>
            <p>{{slt.description}}</p>
          </div>
          <div class="col-md-3">
            <p>{{slt.price}}</p>
            <p>{{slt.size}}</p>
          </div>
          <div class="col-md-1 buttons" ng-click="$ctrl.openDialog(slt.storagelokertypeId)">
            <span class="glyphicon glyphicon-pencil" ></span>
            <span class="glyphicon-label">Cambiar</span>
          </div>
          <div class="col-md-1 buttons">
            <a ng-confirm-message="¿Estás seguro de querer eliminar el tipo de bodega {{slt.name}}?" ng-confirm="$ctrl.remove(slt.storagelokertypeId, slt.name)">
              <span class="glyphicon glyphicon-trash" ></span>
              <span class="glyphicon-label">Borrar</span>
            </a>
          </div>
        </div>
      </li>
    </ul>
  </div>
</div>
