<div class="top-fix"></div>
  <div class="fixed-sidebar">
    <gt-asidemenu active="storagelokertype"></gt-asidemenu>
    <div class="wrapper">
      <div class="form-group filters">
        <div class="col-md-8">
          <button class="btn btn-default" ng-click="$ctrl.openDialog()">Nuevo tipo de bodega</button>
        </div>
        <div class="col-md-4">
          <div class="input-group">
            <span class="input-group-addon"><span class="glyphicon glyphicon-search"></span></span>
            <input class="form-control"  placeholder="busca por nombre">
          </div>
        </div>
      </div>
      <ul>
        <li ng-repeat="type in $ctrl.storagelokertype track by type.storagelokertypeId">
          <div class="well row">
            <div class="col-md-1">
            </div>
            <div class="col-md-6">
              <h3>{{type.name}}</h3>
              <p>{{type.description}}</p>
            </div>
            <div class="col-md-3">
              <p>{{type.price}}</p>
              <p>{{type.size}}</p>
            </div>
            <div class="col-md-1 buttons" ng-click="$ctrl.openDialog(type.storagelokertypeId)">
              <span class="glyphicon glyphicon-pencil" ></span>
              <span class="glyphicon-label">Cambiar</span>
            </div>
            <div class="col-md-1 buttons" ng-click="$ctrl.openDialog(type.storagelokertypeId)">
              <span class="glyphicon glyphicon-trash" ></span>
              <span class="glyphicon-label">Borrar</span>
            </div>
          </div>
        </li>
      </ul>
    </div>
  </div>
