<div class="container tips">
  <h3><strong>GuardarTodo</strong> proporciona algunos consejos útiles para el traslado, uso y mejor aprovechamiento de tu </strong>minibodega.</strong></h3>
  <div class="col-md-12">
    <ul>
      <li>Coloca el mayor número de objetos pequeños dentro de una caja de cartón.</li>
      <li>Sitúa lo más cerca posible a la puerta de tu Minibodegas las cosas que puedas necesitar con más frecuencia.</li>
      <li>Recomendamos colocar sus pertenencias arriba de una tarima.</li>
      <li>Aprovecha los espacios vacíos de los armarios y cajones.</li>
      <li>Protege los muebles y objetos de valor con material de empaque.</li>
      <li>Descongela tu refrigerador, asegúrate que la lavadora y lavavajilla no contengan agua antes de ponerlos en la Minibodegas.</li>
      <li>Si tienes previsto guardar tus pertenencias por mucho tiempo, te recomendamos cubrirlas con plástico.</li>
    </ul>
  </div>
</div>
