<aside id="leftmenu">
    <div id="navigation">
        <div class="profile-picture">
            <img src="images/users-10.svg" class="img-circle m-b" alt="logo">

            <div class="stats-label text-color">
                <span class="font-extra-bold font-uppercase">{{$ctrl.current.firstName}} {{$ctrl.current.lastName}}</span>
            </div>
        </div>

        <ul class="nav" id="side-menu">
            <li class="{{(active=='dashboard')?'active':''}}">
                <a href="#" ui-sref="dashboard"> <span class="nav-label">Dashboard</span> </a>
            </li>
            <li class="{{(active=='client')?'active':''}}">
                <a href="#" ui-sref="client"> <span class="nav-label">Clientes</span> </a>
            </li>
            <li class="{{(active=='storageloker')?'active':''}}">
                <a href="#" ui-sref="storageloker"><span class="nav-label">Bodegas</span></a>

            </li>
            <li class="{{(active=='storagelokertype')?'active':''}}">
                <a href="#" ui-sref="storagelokertype"><span class="nav-label">Tipo de Bodegas</span></a>

            </li>
            <li class="{{(active=='user')?'active':''}}">
                <a href="#" ui-sref="user"><span class="nav-label">Usuarios</span></a>

            </li>
        </ul>
    </div>
</aside>
