<div class="skipmenu"></div>
<div id="self-storage" class="jumbotron">
  <div class="container">
    <h2><i>¿Que es self-Storage?</i></h2>
    <p>Si necesitas un espacio de <b>almacenaje temporal</b>, el <b>GuardarTodo</b> es la solución!!!</p>
    <p>Self-storage (<b>auto-almacenaje</b>) consiste en alquiler de espacios individuales o bodegas, para uso particular o empresarial, en diferentes tamaños y tiempos (desde un mes en adelante).<br />
    El servicio de <b>Self-storage</b> es más económico que el <b>almacenaje</b> tradicional puesto que son los propios clientes los que se encargan de realizarlo.<br />
    Mediante el servicio de <b>Self-storage</b> que presta GuardarTodo, se soluciona, de forma práctica y económica, problemas de dónde guardar excesos de muebles, equipo de oficina e inventarios.</p>
  </div>
</div>
