<div id="about-us" class="jumbotron">
  <div class="container">
    <h2><i>¿Quiénes Somos?</i></h2>
    <p>Nuestras Minibodegas son un concepto único que te ofrecemos para las necesidades de tu microempresa y hogar desde flexibilidad en tiempo y espacio; hasta medidas adecuadas para los objetos que requiera almacenar. Si lo que deseas es rentar una bodega mediana en Monterrey nosotros somos la mejor opción. Pensamos en lo que necesitas y te brindamos los mejores beneficios y excelente servicio. Las minibodegas tienen diferentes tamaños, que van desde los 3m² hasta 42m². Elige la que mas te convenga y disfruta de los beneficios únicos que GuardarTodo tiene pára ti.</p>
  </div>
</div>
